<footer class="footer" style="margin-top: 15vh">
  <div class="b-footer">
    <p>
      <a href="/sitemap.xml" style="color: cadetblue" target="_blank"
        >Sitemap.xml</a
      >
    </p>
    <p>
      <a href="/robots.txt" style="color: cadetblue" target="_blank"
        >Robots.txt</a
      >
    </p>

    <p>
      Bu Site
      <a
        href="https://ismailkaygisiz.github.io/ArtChitecture-Tutorial"
        style="color: cadetblue"
        >ArtChitecture Proje Şablonunu</a
      >
      Kullanıyor
    </p>
    <p>
      Bu Site
      <a href="https://github.com/ismailkaygisiz" style="color: cadetblue"
        >İsmail KAYGISIZ</a
      >
      Tarafından Tasarlandı
    </p>
  </div>
</footer>
