<div class="container">
  <div
    class="row"
    style="
      text-align: center;
      margin-top: 6vh;
      align-items: center;
      margin-right: 1vh;
      margin-left: 1vh;
    "
  >
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="col" style="margin-top: 1vh"></div>
            <div class="col" style="margin-top: 1vh">
              <div class="timer" style="margin-bottom: 1vh">
                <span id="seconds"> {{ secondsToDday }} </span>
              </div>

              <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 3vh">
        <div class="card-body">
          <div class="col">
            <div
              id="carouselExampleSlidesOnly"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/assets/advertise.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 1vh">
          <div class="card">
            <div class="card-body">
              Yönlendirildiğiniz Adresten Sitemiz Sorumlu Değildir
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
